# Premier League Goals Accumulation - Bar Chart Race
By ***Ahmad Zaenun Faiz***

This is a data visualization using Python to visualize the accumulation of goal in the top tier English Football League/Premier League. I use Matplotlib, Pandas and NumPy library to make this visualization.

### Reference: 
* Bar Chart Race Tutorial: https://www.dunderdata.com/blog/create-a-bar-chart-race-animation-in-python-with-matplotlib
* Data source: James P. Curley (2016). engsoccerdata: English Soccer Data 1871-2016. R package version 0.1.5. https://github.com/jalapic/engsoccerdata
* Python Module use: Pandas, Matplotlib, Bar Chart Race

In [1]:
!pip install bar-chart-race

import pandas as pd
import bar_chart_race as bcr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bar-chart-race in /usr/local/lib/python3.7/dist-packages (0.1.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race) (1.3.5)
Requirement already satisfied: matplotlib>=3.1 in /usr/local/lib/python3.7/dist-packages (from bar-chart-race) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (3.0.9)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1->bar-chart-race) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->bar-chart-race) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->bar-chart-race) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar-chart-race) (1.15.0)

## Data Wrangling

In [2]:
fc = pd.read_csv('https://raw.githubusercontent.com/ahmadzfaiz/python-data-visual/main/data/1.%20English%20Football%20Match/england.csv')

fc

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Date,Season,home,visitor,hgoal,vgoal,division,tier,totgoal,goaldif,result
0,1888-09-08,1888,Bolton Wanderers,Derby County,3,6,1,1,9,-3,A
1,1888-09-08,1888,Everton,Accrington F.C.,2,1,1,1,3,1,H
2,1888-09-08,1888,Preston North End,Burnley,5,2,1,1,7,3,H
3,1888-09-08,1888,Stoke City,West Bromwich Albion,0,2,1,1,2,-2,A
4,1888-09-08,1888,Wolverhampton Wanderers,Aston Villa,1,1,1,1,2,0,D
...,...,...,...,...,...,...,...,...,...,...,...
199879,3/7/2020,2019,Plymouth Argyle,Macclesfield,3,0,4,4,3,3,H
199880,3/7/2020,2019,Salford City,Bradford City,2,0,4,4,2,2,H
199881,3/7/2020,2019,Swindon Town,Forest Green Rovers,0,2,4,4,2,-2,A
199882,3/7/2020,2019,Walsall,Exeter City,3,1,4,4,4,2,H
199883,3/10/2020,2019,Carlisle United,Newport County,2,0,4,4,2,2,H

In [3]:
home = fc[['Date', 'Season', 'home', 'hgoal', 'tier']]
away = fc[['Date', 'Season', 'visitor', 'vgoal', 'tier']]

home = home.loc[(home['tier'] == 1) & (home['Season'] == 2019)]
away = away.loc[(away['tier'] == 1) & (away['Season'] == 2019)]

home
# home['home'].count()

             Date  Season              home  hgoal  tier
198112   8/9/2019    2019         Liverpool      4     1
198113  8/10/2019    2019   West Ham United      0     1
198114  8/10/2019    2019   AFC Bournemouth      1     1
198115  8/10/2019    2019           Burnley      3     1
198116  8/10/2019    2019    Crystal Palace      0     1
...           ...     ...               ...    ...   ...
198487  7/26/2020    2019    Leicester City      0     1
198488  7/26/2020    2019   Manchester City      5     1
198489  7/26/2020    2019  Newcastle United      1     1
198490  7/26/2020    2019       Southampton      3     1
198491  7/26/2020    2019   West Ham United      1     1

[380 rows x 5 columns]

In [4]:
home['Club'] = home['home']
away['Club'] = away['visitor']

home['Goal'] = home['hgoal']
away['Goal'] = away['vgoal']

home = home[['Date', 'Club', 'Goal']]
away = away[['Date', 'Club', 'Goal']]

In [5]:
frames = [home, away]
dcc = pd.concat(frames)

dcc

             Date               Club  Goal
198112   8/9/2019          Liverpool     4
198113  8/10/2019    West Ham United     0
198114  8/10/2019    AFC Bournemouth     1
198115  8/10/2019            Burnley     3
198116  8/10/2019     Crystal Palace     0
...           ...                ...   ...
198487  7/26/2020  Manchester United     2
198488  7/26/2020       Norwich City     0
198489  7/26/2020          Liverpool     3
198490  7/26/2020   Sheffield United     1
198491  7/26/2020        Aston Villa     1

[760 rows x 3 columns]

In [6]:
ctb = pd.crosstab(dcc['Date'], columns = dcc['Club'], values=dcc['Goal'], aggfunc = 'first')

In [7]:
ctb['Timeline'] = ctb.index
ctb = ctb.reset_index(drop=True)

ctb['day'] = pd.DatetimeIndex(ctb['Timeline']).day
ctb['month'] = pd.DatetimeIndex(ctb['Timeline']).month
ctb['year'] = pd.DatetimeIndex(ctb['Timeline']).year

ctb['Date'] = pd.to_datetime(dict(year=ctb.year, month=ctb.month, day=ctb.day))
ctb = ctb.sort_values('Date').reset_index(drop=True)

In [8]:
del ctb['Timeline']
del ctb['day']
del ctb['month']
del ctb['year']

ctb

Club,AFC Bournemouth,Arsenal,Aston Villa,Brighton & Hove Albion,Burnley,Chelsea,Crystal Palace,Everton,Leicester City,Liverpool,...,Manchester United,Newcastle United,Norwich City,Sheffield United,Southampton,Tottenham Hotspur,Watford,West Ham United,Wolverhampton Wanderers,Date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-09
1,1.0,NaN,1.0,3.0,3.0,NaN,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,3.0,0.0,0.0,NaN,2019-08-10
2,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,...,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2019-08-11
3,2.0,2.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,2.0,...,NaN,1.0,3.0,NaN,1.0,2.0,0.0,1.0,NaN,2019-08-17
4,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2019-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,2.0,3.0,NaN,NaN,NaN,2020-07-19
111,NaN,NaN,NaN,0.0,NaN,NaN,0.0,1.0,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,2.0,2020-07-20
112,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2020-07-21
113,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,5.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2020-07-22
114,3.0,3.0,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3.0,...,2.0,1.0,0.0,1.0,3.0,1.0,2.0,1.0,0.0,2020-07-26

In [9]:
df = ctb
df.fillna(0, inplace=True)

df = df.set_index('Date').cumsum()

df

Club,AFC Bournemouth,Arsenal,Aston Villa,Brighton & Hove Albion,Burnley,Chelsea,Crystal Palace,Everton,Leicester City,Liverpool,Manchester City,Manchester United,Newcastle United,Norwich City,Sheffield United,Southampton,Tottenham Hotspur,Watford,West Ham United,Wolverhampton Wanderers
Date,,,,,,,,,,,,,,,,,,,,
2019-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2019-08-10,1.0,0.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0
2019-08-11,1.0,1.0,1.0,3.0,3.0,0.0,0.0,0.0,0.0,4.0,5.0,4.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0
2019-08-17,3.0,3.0,2.0,4.0,4.0,0.0,0.0,1.0,0.0,6.0,7.0,4.0,1.0,4.0,1.0,1.0,5.0,0.0,1.0,0.0
2019-08-18,3.0,3.0,2.0,4.0,4.0,1.0,0.0,1.0,1.0,6.0,7.0,4.0,1.0,4.0,2.0,1.0,5.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-19,37.0,53.0,39.0,37.0,42.0,64.0,30.0,42.0,67.0,77.0,93.0,63.0,37.0,26.0,38.0,48.0,60.0,34.0,47.0,49.0
2020-07-20,37.0,53.0,39.0,37.0,42.0,64.0,30.0,43.0,67.0,77.0,93.0,63.0,37.0,26.0,38.0,48.0,60.0,34.0,47.0,51.0
2020-07-21,37.0,53.0,40.0,37.0,42.0,64.0,30.0,43.0,67.0,77.0,97.0,63.0,37.0,26.0,38.0,48.0,60.0,34.0,47.0,51.0
2020-07-22,37.0,53.0,40.0,37.0,42.0,67.0,30.0,43.0,67.0,82.0,97.0,64.0,37.0,26.0,38.0,48.0,60.0,34.0,48.0,51.0
2020-07-26,40.0,56.0,41.0,39.0,43.0,69.0,31.0,44.0,67.0,85.0,102.0,66.0,38.0,26.0,39.0,51.0,61.0,36.0,49.0,51.0

## Bar Chart Race

In [ ]:
def summary(values, ranks):
    text = '©2022 Ahmad Zaenun Faiz | Data source: James P. Curley (2016). engsoccerdata: English Soccer Data 1871-2016'
    return {'x': .99, 'y': .02, 's': text, 'ha': 'right', 'size': 4}

chart = bcr.bar_chart_race(
                    df = df,
                    # n_bars=6, 
                    fixed_max=True, 
                    steps_per_period=20,
                    cmap='Set1',
                    filter_column_colors=True,
                    title='Akumulasi Goal setiap Klub Sepak Bola pada Premier League Season 19/20',
                    title_size='smaller',
                    period_fmt= '%d %B %Y',
                    period_summary_func=summary
                )

chart